/.last-package-update-day
/bookmarks
/elpa/
/eshell/
/recentf
/url/
/workspace/
/transient/
/projectile.cache
/projectile-bookmarks.eld
/custom.el
/auto-save-list/
/config/Emacs-Logo.png
config-current-theme.el
/layout/
/org-roam.db
/.org-id-locations
/tramp/
/multisession/
/eln-cache/
/config.el
/places
/elpy
